Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

Add demo image for parallel execution
  README.md
Due: none

Add demo image for parallel execution (#110)
  README.md
Due: none

Update parallel execution demo image in README
  README.md
Due: none

Update parallel execution demo image in README (#111)
  README.md
Due: none

fix: track parallel tasks by index to handle duplicate task names
  internal/cli/parallel.go
  internal/parallel/logs/writer.go
  internal/parallel/orchestrator.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/ui/parallel_progress.go
  internal/ui/parallel_progress_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: track parallel tasks by index to handle duplicate task names (#112)
  internal/cli/parallel.go
  internal/parallel/logs/writer.go
  internal/parallel/orchestrator.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/ui/parallel_progress.go
  internal/ui/parallel_progress_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.9
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.9 (#113)
  CHANGELOG.md
Due: none

refactor: improve code quality with DRY patterns and cleanup
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/host/selector.go
  internal/output/formatter.go
  internal/output/formatter_test.go
  internal/output/formatters/detect.go
  internal/output/stream.go
  internal/util/strings.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: handle math.MinInt edge case in util.Itoa
  internal/output/formatter_test.go
  internal/util/strings.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: improve code quality with DRY patterns and cleanup (#114)
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/host/selector.go
  internal/output/formatter.go
  internal/output/formatter_test.go
  internal/output/formatters/detect.go
  internal/output/stream.go
  internal/util/strings.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: add e2e test script usage to CLAUDE.md
  .claude/CLAUDE.md
Due: none

fix(test): use correct flags in e2e run command tests
  scripts/e2e-test.sh
Due: shellcheck

fix: address PR review comments
  internal/host/testing/fake_selector.go
  internal/lock/lock_bench_test.go
  internal/output/formatter_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: add test infrastructure and benchmarks for quality improvements
  internal/host/selector_bench_test.go
  internal/host/testing/fake_selector.go
  internal/host/testing/fake_selector_test.go
  internal/lock/lock_bench_test.go
  internal/lock/testing/fake_lock.go
  internal/lock/testing/fake_lock_test.go
  internal/output/stream_bench_test.go
  internal/sync/sync_bench_test.go
  internal/sync/testing/fake_syncer.go
  internal/sync/testing/fake_syncer_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: add e2e CLI test script for manual validation
  scripts/e2e-test.sh
Due: shellcheck

fix: improve error handling with context and suggestions
  internal/cli/parallel.go
  internal/cli/update.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: improve e2e test script robustness
  scripts/e2e-test.sh
Due: shellcheck

test: add test infrastructure and benchmarks for quality improvements (#115)
  .claude/CLAUDE.md
  internal/cli/parallel.go
  internal/cli/update.go
  internal/host/selector_bench_test.go
  internal/host/testing/fake_selector.go
  internal/host/testing/fake_selector_test.go
  internal/lock/lock_bench_test.go
  internal/lock/testing/fake_lock.go
  internal/lock/testing/fake_lock_test.go
  internal/output/formatter_test.go
  internal/output/stream_bench_test.go
  internal/sync/sync_bench_test.go
  internal/sync/testing/fake_syncer.go
  internal/sync/testing/fake_syncer_test.go
  scripts/e2e-test.sh
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

docs: update changelog for v0.11.10
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.10 (#116)
  CHANGELOG.md
Due: none

fix: add loading state and progressive output to rr doctor
  internal/cli/doctor.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: stream monitor host results independently with retry feedback
  internal/cli/monitor.go
  internal/config/types.go
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/detail_test.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  internal/monitor/styles.go
  internal/monitor/types.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(monitor): show SSH alias in card header for easy remote access
  .rr.yaml
  Makefile
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/model.go
  internal/monitor/pool.go
  internal/monitor/styles.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

fix(monitor): slow down 'Linking up' animation to ~500ms per frame
  internal/monitor/model.go
  internal/monitor/styles.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(monitor): fix 'Linking up' animation to cycle all 4 frames at ~1s each
  internal/monitor/model.go
  internal/monitor/styles.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: layout and styles
  internal/monitor/card.go
  internal/monitor/detail.go
  internal/monitor/graphs_test.go
  internal/monitor/keybindings.go
  internal/monitor/model.go
  internal/monitor/styles.go
  internal/monitor/view.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: move lnt to local
  Makefile
Due: none

fix: address PR review comments for streaming monitor
  internal/monitor/model.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: stream monitor host results independently with retry feedback (#121)
  .rr.yaml
  Makefile
  internal/cli/monitor.go
  internal/config/types.go
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/graphs_test.go
  internal/monitor/keybindings.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  internal/monitor/pool.go
  internal/monitor/styles.go
  internal/monitor/types.go
  internal/monitor/view.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

docs: update changelog for v0.12.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.12.0 (#122)
  CHANGELOG.md
Due: none

feat: add latency tracking, parallel SSH probe, and backoff for unreachable hosts
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/monitor/history.go
  internal/monitor/model.go
  internal/monitor/pool.go
  internal/monitor/styles.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add latency tracking, parallel SSH probe, and backoff for unreachable hosts (#125)
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/monitor/history.go
  internal/monitor/model.go
  internal/monitor/pool.go
  internal/monitor/styles.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.13.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.13.0 (#126)
  CHANGELOG.md
Due: none

feat: display running task/command in monitor cards and detail view
  internal/cli/loadbalance.go
  internal/cli/run.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/lock/info.go
  internal/lock/lock.go
  internal/lock/lock_bench_test.go
  internal/lock/lock_test.go
  internal/lock/testing/fake_lock.go
  internal/lock/testing/fake_lock_test.go
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/types.go
  internal/parallel/worker.go
  tests/integration/exec_ssh_test.go
  tests/integration/loadbalance_test.go
  tests/integration/lock_ssh_test.go
  tests/integration/mvp_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: improve latency colors and fix worker synchronization
  internal/monitor/styles.go
  internal/parallel/worker.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: display running task/command in monitor cards and detail view (#127)
  internal/cli/loadbalance.go
  internal/cli/run.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/lock/info.go
  internal/lock/lock.go
  internal/lock/lock_bench_test.go
  internal/lock/lock_test.go
  internal/lock/testing/fake_lock.go
  internal/lock/testing/fake_lock_test.go
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/styles.go
  internal/monitor/types.go
  internal/parallel/worker.go
  tests/integration/exec_ssh_test.go
  tests/integration/loadbalance_test.go
  tests/integration/lock_ssh_test.go
  tests/integration/mvp_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.14.0
  CHANGELOG.md
Due: none
