Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-imports:
  run: "if command -v goimports >/dev/null 2>&1; then\n  goimports -w {staged_files}\nelif [ -x \"$HOME/go/bin/goimports\" ]; then\n  \"$HOME/go/bin/goimports\" -w {staged_files}\nelif [ -x \"$(go env GOPATH)/bin/goimports\" ]; then\n  \"$(go env GOPATH)/bin/goimports\" -w {staged_files}\nfi\n"
  ...

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: go mod tidy
  stage_fixed: true

golangci-lint:
  run: make lint-fix
  stage_fixed: true

check-yaml:
  run: "if command -v python3 >/dev/null 2>&1 && python3 -c \"import yaml\" 2>/dev/null; then\n  for file in {staged_files}; do\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  done\nfi\n"

check-json:
  run: "if command -v python3 >/dev/null 2>&1; then\n  for file in {staged_files}; do\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  done\nfi\n"

shellcheck:
  run: "if command -v shellcheck >/dev/null 2>&1; then\n  shellcheck -e SC1091 {staged_files}\nelse\n  echo \"shellcheck not installed, skipping (install with: brew install shellcheck)\"\nfi\n"

fix(config): keep the case of env, task, and host names
  CHANGELOG.md
  completions/rr.bash
  docs/ARCHITECTURE.md
  docs/troubleshooting.md
  internal/cli/doctor.go
  internal/cli/doctor_test.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/warnings.go
  internal/config/warnings_test.go
  internal/doctor/checks.go
  internal/doctor/checks_test.go
  scripts/generate-completions.sh
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

test(e2e): expect -v to be rejected now that the shorthand is gone
  scripts/e2e-test.sh
Due: shellcheck

test(integration): run the sync tests, cover parallel runs over SSH
  scripts/ci-ssh-server.sh
  tests/integration/parallel_ssh_test.go
  tests/integration/setup_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

fix(sync): make rr sync --dry-run change nothing on the remote
  internal/cli/sync.go
  internal/cli/sync_test.go
  internal/sync/marker.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  tests/integration/sync_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): structured rr sync, dry-run preview, --repeat results
  internal/cli/parallel.go
  internal/cli/parallel_pull_test.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/sync.go
  internal/cli/sync_test.go
  internal/cli/target.go
  internal/cli/target_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/outcome_test.go
  internal/parallel/summary.go
  internal/parallel/summary_test.go
  tests/integration/parallel_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: document command building, env quoting, sync output, and pull dirs
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/MIGRATION.md
  docs/configuration.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/tasks.md
Due: none

docs: document dry-run, env quoting, env names, and case sensitivity
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/MIGRATION.md
  docs/configuration.md
  plugins/rr/skills/rr/reference/machine-interface.md
Due: none

fix(cli): fail on a lock error instead of falling back locally
  internal/cli/loadbalance.go
  tests/integration/loadbalance_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(util): pass $(...) in env values through unchanged
  internal/config/validate.go
  internal/config/validate_test.go
  internal/exec/task.go
  internal/exec/task_test.go
  internal/util/shell.go
  internal/util/shell_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: keep cli tests off the developer's real hosts
  internal/cli/main_test.go
  tests/integration/ssh_helper_test.go
  tests/integration/sync_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor(cli): one pull renderer and one outcome parse for parallel runs
  internal/cli/parallel.go
  internal/cli/parallel_pull_test.go
  internal/cli/parallel_test.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/runlog.go
  internal/cli/target.go
  internal/cli/target_test.go
  internal/cli/workflow.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/jest_test.go
  internal/output/formatters/outcome_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(exec): stop a task when its cd or a setup step fails
  internal/config/validate.go
  internal/config/validate_test.go
  internal/exec/task.go
  internal/exec/task_test.go
  internal/parallel/worker_test.go
  internal/util/shell.go
  internal/util/shell_test.go
  tests/integration/exec_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(sync): never delete a remote dir whose age couldn't be read
  internal/sync/marker.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(sync): read rsync output to EOF before waiting on it
  internal/sync/marker.go
  internal/sync/pull.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address review on --repeat sync notices, pulls, logs, and CI
  .claude/commands/merge-release.md
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  docs/configuration.md
  internal/cli/logs.go
  internal/cli/logs_test.go
  internal/cli/parallel.go
  internal/cli/parallel_pull_test.go
  internal/cli/repeat_ssh_test.go
  internal/cli/run.go
  internal/cli/task.go
  internal/output/formatters/outcome_test.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/reference/machine-interface.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

docs: update changelog for v0.27.0
  CHANGELOG.md
  docs/MIGRATION.md
  plugins/rr/skills/rr/reference/machine-interface.md
Due: none

docs: update changelog for v0.27.0 (#247)
  CHANGELOG.md
  docs/MIGRATION.md
  plugins/rr/skills/rr/reference/machine-interface.md
Due: none

fix: keep rr run setup and cd failures fatal, handle dropped connections
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/configuration.md
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/parallel.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/target_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/deps/executor.go
  internal/deps/executor_test.go
  internal/exec/task.go
  internal/exec/task_test.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_hosts_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
  pkg/sshutil/exec.go
  pkg/sshutil/exec_test.go
  pkg/sshutil/interface.go
  plugins/rr/skills/rr/reference/machine-interface.md
  tests/integration/connection_lost_test.go
  tests/integration/exec_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: bound the connection liveness check, finish the cut-off step's display
  CHANGELOG.md
  internal/exec/task.go
  internal/exec/task_test.go
  internal/host/selector.go
  internal/host/selector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: keep rr run setup and cd failures fatal, handle dropped connections (#248)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/configuration.md
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/parallel.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/target_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/deps/executor.go
  internal/deps/executor_test.go
  internal/exec/task.go
  internal/exec/task_test.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_hosts_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
  pkg/sshutil/exec.go
  pkg/sshutil/exec_test.go
  pkg/sshutil/interface.go
  plugins/rr/skills/rr/reference/machine-interface.md
  tests/integration/connection_lost_test.go
  tests/integration/exec_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: prune by machine ID, keep structured output clean
  CHANGELOG.md
  docs/ARCHITECTURE.md
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/sync.go
  internal/cli/target_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/lock/deadpid_unix_test.go
  internal/lock/lock.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/sync/marker.go
  internal/sync/marker_test.go
  internal/sync/prune.go
  internal/sync/prune_test.go
  internal/ui/inline_progress.go
  internal/ui/inline_progress_test.go
  internal/ui/spinner.go
  internal/ui/spinner_test.go
  internal/util/machine.go
  internal/util/machine_test.go
  plugins/rr/skills/rr/reference/machine-interface.md
  tests/integration/lock_warn_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: keep multi-step task headers off structured stdout
  CHANGELOG.md
  internal/cli/target_test.go
  internal/cli/task.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: animate the connection spinner only on a terminal writer
  internal/sync/marker_test.go
  internal/ui/connection.go
  internal/ui/spinner.go
  internal/ui/spinner_test.go
  internal/util/machine_test.go
  tests/integration/lock_warn_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: cover pruning when the local machine has no ID
  internal/sync/prune_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: prune by machine ID, keep structured output clean (#249)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/sync.go
  internal/cli/target_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/lock/deadpid_unix_test.go
  internal/lock/lock.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/sync/marker.go
  internal/sync/marker_test.go
  internal/sync/prune.go
  internal/sync/prune_test.go
  internal/ui/connection.go
  internal/ui/inline_progress.go
  internal/ui/inline_progress_test.go
  internal/ui/spinner.go
  internal/ui/spinner_test.go
  internal/util/machine.go
  internal/util/machine_test.go
  plugins/rr/skills/rr/reference/machine-interface.md
  tests/integration/lock_warn_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.27.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.27.2 (#250)
  CHANGELOG.md
Due: none

chore(claude): merge the testing rules and add testing gotchas
  .claude/rules/go/testing.md
  .claude/rules/testing.md
Due: none

chore: add pr-wait.sh to wait for PR checks and digest CodeRabbit threads
  .claude/rules/verification.md
  scripts/pr-wait.sh
Due: shellcheck

test: check the structured output contract with the real binary
  tests/integration/structured_output_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore(claude): add agent environment notes, drop golangci-lint allow
  .claude/CLAUDE.md
  .claude/settings.json
Due: check-json

docs: add RFC for agent DX guards and notes
  plans/rfc-agent-dx-improvements.md
Due: none

chore(claude): rewrite the merge-release skill to match how releases ship
  .claude/rules/writing.md
  .claude/skills/merge-release/SKILL.md
  .gitignore
Due: none

docs: point releasing.md at the merge-release skill
  docs/releasing.md
Due: none

chore(claude): move merge-release from commands to skills
  .claude/skills/merge-release/SKILL.md
Due: none

ci: fail the integration job when any test skips
  .github/workflows/ci.yml
Due: check-yaml

chore: let fixup! commits past the commit-msg hook
  lefthook.yml
Due: check-yaml

chore(claude): drop references to removed ce skills
  .claude/rules/debugging.md
  .claude/rules/testing.md
  .claude/rules/verification.md
Due: none

fix(output): report vitest failures and counts from its default reporter
  internal/output/formatters/detect.go
  internal/output/formatters/jest.go
  internal/output/formatters/outcome.go
  internal/output/formatters/outcome_test.go
  internal/output/formatters/testdata/vitest-failures.txt
  internal/output/formatters/testdata/vitest-interleaved.txt
Due: go-fmt, go-imports, go-vet, golangci-lint

Path conditions:
  go-fmt: any of: *.go
  go-imports: any of: *.go
  go-vet: any of: *.go
  go-mod-tidy: any of: {go.mod,go.sum}
  golangci-lint: any of: *.go
  check-yaml: any of: *.{yaml,yml}, but not: completions/.*
  check-json: any of: *.json
  shellcheck: any of: *.sh
