Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-imports:
  run: "if command -v goimports >/dev/null 2>&1; then\n  goimports -w {staged_files}\nelif [ -x \"$HOME/go/bin/goimports\" ]; then\n  \"$HOME/go/bin/goimports\" -w {staged_files}\nelif [ -x \"$(go env GOPATH)/bin/goimports\" ]; then\n  \"$(go env GOPATH)/bin/goimports\" -w {staged_files}\nfi\n"
  ...

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: go mod tidy
  stage_fixed: true

golangci-lint:
  run: make lint-fix
  stage_fixed: true

check-yaml:
  run: "if command -v python3 >/dev/null 2>&1 && python3 -c \"import yaml\" 2>/dev/null; then\n  for file in {staged_files}; do\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  done\nfi\n"

check-json:
  run: "if command -v python3 >/dev/null 2>&1; then\n  for file in {staged_files}; do\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  done\nfi\n"

shellcheck:
  run: "if command -v shellcheck >/dev/null 2>&1; then\n  shellcheck -e SC1091 {staged_files}\nelse\n  echo \"shellcheck not installed, skipping (install with: brew install shellcheck)\"\nfi\n"

fix(monitor): --hosts names any configured host, and refuses unknown ones
  CHANGELOG.md
  docs/configuration.md
  internal/cli/monitor.go
  internal/cli/monitor_scope_test.go
  plugins/rr/skills/rr/reference/commands.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(task): task hosts decides where a task runs, --local overrides it
  CHANGELOG.md
  docs/MIGRATION.md
  docs/configuration.md
  internal/cli/local_routing_test.go
  internal/cli/parallel.go
  internal/cli/target.go
  internal/cli/task.go
  internal/cli/workflow.go
  plugins/rr/skills/rr/reference/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: don't claim monitor --hosts keeps the given order
  CHANGELOG.md
  internal/cli/monitor.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(host): build cancel-test commands as a local host's
  internal/host/local_exec_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(config): refuse a .rr.yaml above the checkout only when another checkout holds it
  docs/MIGRATION.md
  docs/configuration.md
  docs/troubleshooting.md
  internal/config/config_test.go
  internal/config/find_worktree_test.go
  internal/config/loader.go
  plugins/rr/skills/rr/reference/config.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(monitor): show global hosts in a nested worktree without .rr.yaml
  internal/cli/local_host_worktree_test.go
  internal/cli/monitor.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs(changelog): config search refuses only an enclosing checkout's .rr.yaml
  CHANGELOG.md
Due: none

fix(task): keep --tag and local_fallback within a task's hosts
  docs/configuration.md
  internal/cli/loadbalance.go
  internal/cli/local_routing_test.go
  internal/cli/workflow.go
  plugins/rr/skills/rr/reference/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(host): validate the local host name at the prompt
  internal/cli/host.go
  internal/cli/host_add_local_test.go
  internal/cli/init.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs(changelog): task pin --tag and fallback behavior, local name prompt
  CHANGELOG.md
Due: none

fix(parallel): report lock waits and exit 130 when interrupted
  docs/configuration.md
  internal/cli/parallel.go
  internal/cli/parallel_lock_wait_test.go
  internal/cli/workflow.go
  internal/parallel/types.go
  internal/parallel/worker.go
  plugins/rr/skills/rr/reference/machine-interface.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(run): read bash 5 and dash missing-file errors in setup hints
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
  internal/cli/run.go
  internal/cli/setup_hint_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(exec): don't send a bare local command a second Ctrl+C
  internal/cli/local_interrupt_test.go
  internal/cli/workflow.go
  internal/exec/local.go
  internal/exec/local_cancel_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(lock): don't let a reused process group id hold a dead job's lock
  internal/lock/info.go
  internal/lock/jobgroup_unix_test.go
  internal/lock/lock.go
  internal/lock/pid_unix.go
  internal/lock/pid_windows.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(lock): only a leader that started after the job is a reused pid
  CHANGELOG.md
  internal/lock/jobgroup_unix_test.go
  internal/lock/pid_unix.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address second-round review of local host routing
  CHANGELOG.md
  docs/MIGRATION.md
  internal/cli/host.go
  internal/cli/host_add_local_test.go
  internal/cli/init.go
  internal/cli/local_routing_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/exec/local.go
  internal/exec/local_cancel_test.go
  plugins/rr/skills/rr/reference/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(lock): tolerate clock steps when checking a job's start time
  internal/cli/host_add_local_test.go
  internal/cli/local_routing_test.go
  internal/cli/workflow.go
  internal/lock/jobgroup_unix_test.go
  internal/lock/lock.go
  internal/lock/pid_unix.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: clear GIT_* env so hook runs can't commit to the repo
  internal/cli/main_test.go
  internal/config/main_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: temporarily limit CodeRabbit to code files for this PR
  .coderabbit.yaml
Due: check-yaml

fix: address CodeRabbit review
  .coderabbit.yaml
  CHANGELOG.md
  internal/cli/doctor.go
  internal/cli/doctor_local_test.go
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
  internal/cli/setup_hint_test.go
  internal/exec/local.go
  internal/exec/local_cancel_test.go
  internal/lock/jobgroup_unix_test.go
  internal/lock/lock.go
  internal/lock/pid_unix.go
  internal/lock/release_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

docs: update changelog for v0.29.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.29.0 (#255)
  CHANGELOG.md
Due: none

fix: rr status follows host order, warn on ignored task setup, update via Homebrew
  CHANGELOG.md
  docs/configuration.md
  internal/cli/local_host_test.go
  internal/cli/local_host_worktree_test.go
  internal/cli/status.go
  internal/cli/status_order_test.go
  internal/cli/status_test.go
  internal/cli/update.go
  internal/cli/update_brew_test.go
  internal/config/warnings.go
  internal/config/warnings_test.go
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: rr status follows host order, warn on ignored task setup, update via Homebrew (#256)
  CHANGELOG.md
  docs/configuration.md
  internal/cli/local_host_test.go
  internal/cli/local_host_worktree_test.go
  internal/cli/status.go
  internal/cli/status_order_test.go
  internal/cli/status_test.go
  internal/cli/update.go
  internal/cli/update_brew_test.go
  internal/config/warnings.go
  internal/config/warnings_test.go
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: ProxyJump support, proxy errors that blame the right leg, host key algorithms
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/ssh-setup.md
  docs/troubleshooting.md
  internal/cli/doctor.go
  internal/cli/json.go
  internal/cli/loadbalance.go
  internal/cli/proxy_failure_test.go
  internal/cli/status.go
  internal/host/dial.go
  internal/host/probe.go
  internal/host/probe_proxy_test.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
  pkg/sshutil/hostkey_algorithms_test.go
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_test.go
  pkg/sshutil/proxy_unix.go
  pkg/sshutil/proxyjump_test.go
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: ProxyJump support, proxy errors that blame the right leg, host key algorithms (#257)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/ssh-setup.md
  docs/troubleshooting.md
  internal/cli/doctor.go
  internal/cli/json.go
  internal/cli/loadbalance.go
  internal/cli/proxy_failure_test.go
  internal/cli/status.go
  internal/host/dial.go
  internal/host/probe.go
  internal/host/probe_proxy_test.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
  pkg/sshutil/hostkey_algorithms_test.go
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_test.go
  pkg/sshutil/proxy_unix.go
  pkg/sshutil/proxyjump_test.go
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.29.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.29.2 (#258)
  CHANGELOG.md
Due: none

fix(release): emit postflight_steps in the Homebrew cask
  .goreleaser.yaml
Due: check-yaml

fix(release): emit postflight_steps in the Homebrew cask (#261)
  .goreleaser.yaml
Due: check-yaml

docs: update changelog for v0.29.3
  CHANGELOG.md
Due: none

docs: update changelog for v0.29.3 (#262)
  CHANGELOG.md
Due: none

Path conditions:
  go-fmt: any of: *.go
  go-imports: any of: *.go
  go-vet: any of: *.go
  go-mod-tidy: any of: {go.mod,go.sum}
  golangci-lint: any of: *.go
  check-yaml: any of: *.{yaml,yml}, but not: completions/.*
  check-json: any of: *.json
  shellcheck: any of: *.sh
