Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

docs: update changelog for v0.11.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.0 (#92)
  CHANGELOG.md
Due: none

feat: animated progress display for parallel task execution
  README.md
  docs/configuration.md
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/ui/parallel_progress.go
  internal/ui/parallel_progress_test.go
  internal/ui/symbols.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: animated progress display for parallel task execution (#93)
  README.md
  docs/configuration.md
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/ui/parallel_progress.go
  internal/ui/parallel_progress_test.go
  internal/ui/symbols.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.1 (#94)
  CHANGELOG.md
Due: none

fix: propagate signal cancellation to remote tasks on Ctrl+C
  internal/cli/parallel.go
  internal/parallel/worker.go
  pkg/sshutil/exec.go
  pkg/sshutil/interface.go
  pkg/sshutil/testing/mock_client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: configure parallel test tasks and update Makefile to use rr
  .claude/CLAUDE.md
  .rr.yaml
  Makefile
Due: check-yaml

fix: propagate signal cancellation to remote tasks on Ctrl+C (#95)
  .claude/CLAUDE.md
  .rr.yaml
  Makefile
  internal/cli/parallel.go
  internal/parallel/worker.go
  pkg/sshutil/exec.go
  pkg/sshutil/interface.go
  pkg/sshutil/testing/mock_client.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

docs: update changelog for v0.11.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.2 (#96)
  CHANGELOG.md
Due: none

feat: improve parallel task failure output and host priority
  internal/cli/parallel.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/summary.go
  internal/parallel/types.go
  internal/parallel/worker.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: show CPU graph on small widths
  internal/monitor/card.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: improve parallel task output and host priority (#97)
  internal/cli/parallel.go
  internal/monitor/card.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/summary.go
  internal/parallel/types.go
  internal/parallel/worker.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.3
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.3 (#98)
  CHANGELOG.md
Due: none

fix: respect host priority order for single task execution
  internal/cli/sync.go
  internal/cli/workflow.go
  internal/host/selector.go
  internal/host/selector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: respect host priority order for single task execution (#99)
  internal/cli/sync.go
  internal/cli/workflow.go
  internal/host/selector.go
  internal/host/selector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.4
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.4 (#100)
  CHANGELOG.md
Due: none

fix: GetHostNames respects hostOrder for load-balanced workflows
  internal/host/selector.go
  internal/host/selector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add machine-readable JSON output for LLM/CI integration
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/host.go
  internal/cli/json.go
  internal/cli/root.go
  internal/cli/status.go
  internal/cli/task.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: GetHostNames respects hostOrder for load-balanced workflows (#102)
  internal/host/selector.go
  internal/host/selector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.5
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.5 (#103)
  CHANGELOG.md
Due: none

fix: address PR review feedback
  internal/cli/host.go
  internal/cli/json.go
  internal/cli/root.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add visual status indicators for host lock state in monitor
  .github/workflows/ci.yml
  internal/cli/monitor.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  internal/monitor/styles.go
  internal/monitor/styles_test.go
  internal/monitor/types.go
  internal/monitor/types_test.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

feat: add visual status indicators for host lock state in monitor (#104)
  .github/workflows/ci.yml
  internal/cli/monitor.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  internal/monitor/styles.go
  internal/monitor/styles_test.go
  internal/monitor/types.go
  internal/monitor/types_test.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

feat: enhance machine interface with tests and missing features
  internal/cli/commands.go
  internal/cli/host.go
  internal/cli/json_test.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.6
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.6 (#105)
  CHANGELOG.md
Due: none

feat: add machine-readable JSON output for LLM/CI integration (#101)
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/host.go
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/root.go
  internal/cli/status.go
  internal/cli/task.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: implement per-host locking instead of per-project locking
  internal/cli/loadbalance.go
  internal/cli/monitor.go
  internal/cli/unlock.go
  internal/cli/workflow.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/monitor/collector.go
  internal/parallel/worker.go
  tests/integration/exec_ssh_test.go
  tests/integration/loadbalance_test.go
  tests/integration/lock_ssh_test.go
  tests/integration/mvp_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: implement per-host locking instead of per-project locking (#106)
  internal/cli/loadbalance.go
  internal/cli/monitor.go
  internal/cli/unlock.go
  internal/cli/workflow.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/monitor/collector.go
  internal/parallel/worker.go
  tests/integration/exec_ssh_test.go
  tests/integration/loadbalance_test.go
  tests/integration/lock_ssh_test.go
  tests/integration/mvp_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.7 (#106)
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.7 (#106) (#107)
  CHANGELOG.md
Due: none

fix: monitor lock detection uses correct per-host lock path
  internal/monitor/collector.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: monitor lock detection uses correct per-host lock path (#108)
  internal/monitor/collector.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.11.8 (#108)
  CHANGELOG.md
Due: none

docs: update changelog for v0.11.8 (#108) (#109)
  CHANGELOG.md
Due: none
