Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix ./...
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push
    lint:
      run: golangci-lint run

feat: add shell config, command-not-found detection, and path validation
  internal/config/validate.go
  internal/exec/executor.go
  internal/exec/executor_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add host management commands and improve SSH auth DX
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  docs/configuration.md
  docs/troubleshooting.md
  internal/cli/commands.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
  internal/config/validate.go
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/model.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: set coverage threshold to 50% with enforcement
  Makefile
  lefthook.yml
Due: check-yaml

fix: resolve lock acquisition failure when parent directory doesn't exist
  internal/lock/lock.go
  internal/lock/lock_test.go
  pkg/sshutil/testing/mock_client.go
  pkg/sshutil/testing/mock_fs.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: use ${HOME} instead of ~ for default remote directory
  docs/dx-issues.md
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: use ${HOME} instead of ~ for default remote directory (#6)
  docs/dx-issues.md
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(ci): improve SSH server startup reliability
  .github/workflows/ci.yml
Due: check-yaml

fix(ci): improve SSH server startup reliability (#7)
  .github/workflows/ci.yml
Due: check-yaml

fix(ci): use go.mod for Go version instead of hardcoded matrix
  .github/workflows/ci.yml
Due: check-yaml

fix(ci): use go.mod for Go version instead of hardcoded matrix (#8)
  .github/workflows/ci.yml
Due: check-yaml

chore: bump Go version to 1.24.4 for security fixes
  go.mod
Due: go-mod-tidy

chore: bump Go version to 1.24.4 for security fixes (#9)
  go.mod
Due: go-mod-tidy

feat: add PATH diagnostics for command-not-found errors
  internal/cli/doctor.go
  internal/cli/init.go
  internal/cli/run.go
  internal/doctor/path.go
  internal/doctor/path_test.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/path.go
  internal/exec/path_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add PATH diagnostics for command-not-found errors (#10)
  internal/cli/doctor.go
  internal/cli/init.go
  internal/cli/run.go
  internal/doctor/path.go
  internal/doctor/path_test.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/path.go
  internal/exec/path_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: bump Go to 1.24.9 for security fixes
  go.mod
Due: go-mod-tidy

chore: bump Go to 1.24.9 for security fixes (#11)
  go.mod
Due: go-mod-tidy

chore: bump Go to 1.24.11 for security fixes
  go.mod
Due: go-mod-tidy

chore: bump Go to 1.24.11 for security fixes (#12)
  go.mod
Due: go-mod-tidy

fix(ci): use go.mod for Go version in release workflow
  .github/workflows/release.yml
Due: check-yaml

fix(ci): use go.mod for Go version in release workflow (#13)
  .github/workflows/release.yml
Due: check-yaml

docs: add architecture diagrams
  ARCHITECTURE.md
Due: none

docs: create migration guide
  docs/MIGRATION.md
Due: none

docs: improve README
  README.md
Due: none

test(setup): expand coverage for key and copy operations
  internal/setup/copy_test.go
  internal/setup/keys_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(sshutil): expand coverage for SSH utilities
  pkg/sshutil/client_test.go
  pkg/sshutil/config_test.go
  pkg/sshutil/testing/mock_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(monitor): expand test coverage from 40.7% to 81.5%
  internal/cli/doctor_test.go
  internal/cli/host_test.go
  internal/cli/run_test.go
  internal/cli/sync_test.go
  internal/cli/workflow_test.go
  internal/monitor/card_test.go
  internal/monitor/detail_test.go
  internal/monitor/styles_test.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(cli): add task rendering tests
  internal/cli/task_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(cli): add doctor rendering tests
  internal/cli/doctor_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(cli): add status command tests
  internal/cli/status_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor(ui): consolidate progress bar rendering logic
  internal/ui/inline_progress.go
  internal/ui/progress.go
  internal/ui/progress_core.go
  internal/ui/progress_core_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test(cli): add workflow tests for Close and setup phases
  internal/cli/workflow_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(ui): use structured errors in host picker components
  internal/ui/host_picker.go
  internal/ui/ssh_host_picker.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: quality improvements phase 1-4 completion
  internal/cli/doc.go
  internal/cli/exec_cmd.go
  internal/cli/flags.go
  internal/cli/flags_test.go
  internal/cli/init_test.go
  internal/cli/run.go
  internal/cli/sync.go
  internal/cli/task.go
  internal/host/selector.go
  internal/host/validate.go
  internal/host/validate_test.go
  internal/lock/lock.go
  internal/monitor/collector_test.go
  internal/monitor/command_test.go
  internal/monitor/doc.go
  internal/monitor/history_test.go
  internal/monitor/keybindings_test.go
  internal/monitor/model_test.go
  internal/monitor/types_test.go
  internal/setup/doc.go
  internal/setup/keys_test.go
  internal/sync/rsync.go
  internal/ui/doc.go
  internal/util/strings.go
  internal/util/strings_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs(security): add lock directory security documentation and input validation docs
  internal/cli/doc.go
  internal/lock/lock.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: add development guide and enhance contributing docs
  CONTRIBUTING.md
  docs/DEVELOPMENT.md
  internal/host/selector.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): auto-add setup_commands when PATH diff detected
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/workflow.go
  internal/config/types.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/lock/lock.go
  internal/lock/lock_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add load-balanced host selection
  internal/cli/loadbalance.go
  internal/lock/errors.go
  tests/integration/loadbalance_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint
