Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix ./...
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push
    lint:
      run: golangci-lint run

fix(logger): export BufferLogger type to satisfy revive linter
  internal/logger/logger.go
Due: go-fmt, go-imports, go-vet, golangci-lint

ci: update golangci-lint to v2.8 to match local
  .github/workflows/ci.yml
Due: check-yaml

build: share golangci-lint version between CI and local
  .github/workflows/ci.yml
  .golangci-version
  Makefile
  lefthook.yml
Due: check-yaml

feat(cli): auto-add setup_commands when PATH diff detected (#15)
  .github/workflows/ci.yml
  .golangci-version
  Makefile
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/loadbalance.go
  internal/cli/workflow.go
  internal/config/types.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/lock/errors.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/logger/logger.go
  lefthook.yml
  tests/integration/loadbalance_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

docs: update CHANGELOG with v0.2.1 through v0.4.0 releases
  CHANGELOG.md
Due: none

docs(examples): fix path expansion and add load balancing docs
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
Due: check-yaml

docs: fix path expansion and add load balancing documentation
  README.md
  docs/configuration.md
  docs/troubleshooting.md
Due: none

docs: update CHANGELOG with v0.2.1 through v0.4.0 releases (#16)
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
  docs/troubleshooting.md
Due: check-yaml

fix(loadbalance): respect default host in load balancing mode
  internal/cli/loadbalance.go
  internal/cli/loadbalance_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(loadbalance): respect default host in load balancing mode (#17)
  internal/cli/loadbalance.go
  internal/cli/loadbalance_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add interactive tool provisioning when commands fail
  internal/cli/fix.go
  internal/cli/run.go
  internal/config/update.go
  internal/config/update_test.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/provision.go
  internal/exec/provision_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add interactive tool provisioning when commands fail (#18)
  internal/cli/fix.go
  internal/cli/run.go
  internal/config/update.go
  internal/config/update_test.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/provision.go
  internal/exec/provision_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(exec): improve command-not-found detection and guidance
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/path.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(exec): improve command-not-found detection and guidance (#19)
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/path.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(sync): expand ${HOME} to ~ for remote paths instead of local home
  internal/cli/task.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/loader.go
  internal/doctor/remote.go
  internal/exec/task.go
  internal/sync/sync.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(sync): expand ${HOME} to ~ for remote paths instead of local home (#20)
  internal/cli/task.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/loader.go
  internal/doctor/remote.go
  internal/exec/task.go
  internal/sync/sync.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(test): add linux_arm64 asset to TestFindAsset
  internal/cli/update_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(test): add linux_arm64 asset to TestFindAsset (#21)
  internal/cli/update_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): display host name instead of IP in status output
  internal/cli/run.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): display host name instead of IP in status output (#22)
  internal/cli/run.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(ui): slow down fake progress bar to 30 seconds
  internal/ui/inline_progress.go
  internal/ui/inline_progress_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(ui): slow down fake progress bar to 30 seconds (#23)
  internal/ui/inline_progress.go
  internal/ui/inline_progress_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(monitor): calculate CPU usage from delta instead of cumulative jiffies
  internal/monitor/collector.go
  internal/monitor/collector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(monitor): calculate CPU usage from delta instead of cumulative jiffies (#24)
  internal/monitor/collector.go
  internal/monitor/collector_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: add SSH setup guide as prerequisite documentation
  README.md
  docs/ssh-setup.md
Due: none

docs: add SSH setup guide as prerequisite documentation (#25)
  README.md
  docs/ssh-setup.md
Due: none

docs: docs
  README.md
  docs/ARCHITECTURE.md
  docs/dx-issues.md
  internal/ui/header.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: docs (#26)
  README.md
  docs/ARCHITECTURE.md
  docs/dx-issues.md
  internal/ui/header.go
Due: go-fmt, go-imports, go-vet, golangci-lint

Change video source to local file in README
  README.md
Due: none

Change video source to local file in README (#28)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#29)
  README.md
Due: none

Update README to use image instead of video
  README.md
Due: none

Update README to use image instead of video (#30)
  README.md
Due: none

fix: source .bashrc/.zshrc for proper PATH in remote commands
  internal/exec/task.go
  internal/exec/task_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: source .bashrc/.zshrc for proper PATH in remote commands (#31)
  internal/exec/task.go
  internal/exec/task_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add unlock command and improve lock/signal handling
  README.md
  docs/troubleshooting.md
  internal/cli/commands.go
  internal/cli/host.go
  internal/cli/host_test.go
  internal/cli/unlock.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/monitor/collector.go
  internal/monitor/graphs.go
  internal/monitor/graphs_test.go
  internal/monitor/styles_test.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint
