Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix ./...
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push
    lint:
      run: golangci-lint run

feat(cli): add workflow abstraction for command setup phases
  internal/cli/workflow.go
  internal/doctor/deps.go
  internal/doctor/ssh.go
  internal/host/cache.go
  internal/host/selector_test.go
  pkg/sshutil/client.go
  scripts/git-hooks/commit-msg
  scripts/git-hooks/pre-commit
  scripts/git-hooks/prepare-commit-msg
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: rebrand from Remote Runner to Road Runner
  ARCHITECTURE.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  configs/schema.json
  internal/cli/commands.go
  internal/cli/completion_test.go
  internal/cli/doctor.go
  internal/cli/init.go
  internal/cli/root.go
  internal/output/state.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-json

docs(install): update installer script branding
  scripts/install.sh
Due: shellcheck

fix(hooks): make shellcheck optional with helpful message
  CONTRIBUTING.md
  lefthook.yml
Due: check-yaml

chore: update docs
  .github/workflows/ci.yml
  README.md
  plans/2025-01-08-remote-runner/README.md
  plans/2025-01-08-remote-runner/phase-0-setup.md
  plans/2025-01-08-remote-runner/phase-1-core-mvp.md
  plans/2025-01-08-remote-runner/phase-2-host-selection.md
  plans/2025-01-08-remote-runner/phase-3-tasks-formatters.md
  plans/2025-01-08-remote-runner/phase-4-distribution.md
  plans/2025-01-08-remote-runner/phase-5-monitoring.md
Due: check-yaml

chore: img
  README.md
  assets/rr.gif
Due: none

chore: docs
  README.md
Due: none

Update README.md
  README.md
Due: none

fix: release
  .github/workflows/release.yml
Due: check-yaml

fix: pass HOMEBREW_TAP_TOKEN to goreleaser
  .github/workflows/release.yml
Due: check-yaml

fix: update goreleaser config to v2 syntax
  .goreleaser.yaml
  README.md
Due: check-yaml

fix: correct goreleaser format_overrides field name
  .goreleaser.yaml
Due: check-yaml

build(deps): upgrade go dependencies
  go.mod
  go.sum
Due: go-mod-tidy

feat: add CI integration tests and expand test coverage
  .github/dependabot.yml
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  internal/cli/doctor_test.go
  internal/cli/run_test.go
  internal/cli/sync_test.go
  internal/cli/task_test.go
  internal/cli/workflow_test.go
  internal/lock/lock_test.go
  internal/setup/copy_test.go
  internal/setup/keys_test.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
  scripts/ci-ssh-server.sh
  scripts/test-ssh-server.sh
  tests/integration/README.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml, shellcheck

test: expand unit test coverage and adjust CI threshold
  .github/workflows/ci.yml
  internal/config/config_test.go
  internal/errors/errors_test.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

feat: add SSH mock testing infrastructure with virtual filesystem
  CHANGELOG.md
  internal/host/cache.go
  internal/host/selector.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/monitor/collector.go
  internal/monitor/pool.go
  internal/sync/rsync.go
  pkg/sshutil/client.go
  pkg/sshutil/exec.go
  pkg/sshutil/interface.go
  pkg/sshutil/testing/helpers.go
  pkg/sshutil/testing/mock_client.go
  pkg/sshutil/testing/mock_fs.go
  pkg/sshutil/testing/mock_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: add DX issues found during manual testing
  docs/dx-issues.md
Due: none

feat: add non-interactive mode and improve error messages
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/doctor_test.go
  internal/cli/init.go
  internal/cli/init_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: add rsync version detection and fallback for macOS
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: resolve lock acquisition failure when parent directory doesn't exist
  internal/lock/lock.go
  internal/lock/lock_test.go
  pkg/sshutil/testing/mock_client.go
  pkg/sshutil/testing/mock_fs.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add shell config, command-not-found detection, and path validation
  internal/cli/run.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/types.go
  internal/config/validate.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/task.go
  internal/output/stream.go
  tests/integration/monitor_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: deduplicate SSH Match directive warning and update docs
  docs/troubleshooting.md
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(monitor): redesign dashboard with btop-style UI
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/command.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/monitor/history.go
  internal/monitor/styles.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add self-update command
  internal/cli/update.go
  internal/cli/update_test.go
  internal/ui/colors.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: set coverage threshold to 50% with enforcement
  Makefile
  lefthook.yml
Due: check-yaml

feat(exec): use login shell by default for proper PATH setup
  internal/config/types.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/exec/task.go
  internal/exec/task_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(monitor): fix card background styling and add section dividers
  README.md
  internal/cli/commands.go
  internal/cli/init.go
  internal/cli/root.go
  internal/host/probe.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/monitor/card.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/monitor/graphs_test.go
  internal/monitor/history.go
  internal/monitor/styles.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  internal/ui/colors.go
  internal/ui/inline_progress.go
  internal/ui/inline_progress_test.go
  internal/ui/ssh_host_picker.go
  pkg/sshutil/client.go
  pkg/sshutil/interface.go
  pkg/sshutil/testing/mock_client.go
  pkg/sshutil/testing/mock_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add host management commands and improve SSH auth DX
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  docs/configuration.md
  docs/troubleshooting.md
  internal/cli/commands.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
  internal/config/validate.go
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/model.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add SSH mock testing infrastructure with virtual filesystem
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/sync/rsync.go
  pkg/sshutil/testing/mock_client.go
  pkg/sshutil/testing/mock_fs.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add non-interactive mode and improve error messages
  internal/cli/init.go
  internal/cli/init_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: add rsync version detection and fallback for macOS
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: deduplicate SSH Match directive warning and update docs
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(ui): add Charmbracelet Bubbles integration for improved DX
  internal/cli/init.go
  internal/cli/init_test.go
  internal/config/validate.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/monitor/command.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/sync/rsync.go
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(monitor): redesign dashboard with btop-style UI
  internal/monitor/command.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
Due: go-fmt, go-imports, go-vet, golangci-lint
