Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

docs: update changelog for v0.14.0 (#128)
  CHANGELOG.md
Due: none

feat: add viewport scrolling to monitor list view
  internal/cli/monitor.go
  internal/monitor/keybindings.go
  internal/monitor/model.go
  internal/monitor/view.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add viewport scrolling to monitor list view (#129)
  internal/cli/monitor.go
  internal/monitor/keybindings.go
  internal/monitor/model.go
  internal/monitor/view.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.14.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.14.1 (#130)
  CHANGELOG.md
Due: none

fix: measure actual SSH latency instead of metrics collection time
  internal/monitor/collector.go
  internal/monitor/styles.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: measure actual SSH latency instead of metrics collection time (#132)
  internal/monitor/collector.go
  internal/monitor/styles.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.14.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.14.2 (#133)
  CHANGELOG.md
Due: none

fix(ci): show all failure types in test output
  .github/workflows/ci.yml
Due: check-yaml

fix(ci): show all failure types in test output (#134)
  .github/workflows/ci.yml
Due: check-yaml

feat: add remote environment bootstrap with require field
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/exec_cmd.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/monitor.go
  internal/cli/parallel.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/status.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/doctor/hosts.go
  internal/doctor/requirements.go
  internal/host/selector.go
  internal/require/cache.go
  internal/require/check.go
  internal/require/require.go
  internal/require/require_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update documentation for require field and refactor skill
  README.md
  docs/configuration.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/commands.md
  plugins/rr/skills/rr/config.md
  plugins/rr/skills/rr/machine-interface.md
  plugins/rr/skills/rr/requirements.md
  plugins/rr/skills/rr/tasks.md
  plugins/rr/skills/rr/troubleshooting.md
Due: none

fix: address PR review comments
  internal/doctor/requirements.go
  internal/require/check.go
  plugins/rr/skills/rr/machine-interface.md
  plugins/rr/skills/rr/requirements.md
  plugins/rr/skills/rr/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add remote environment bootstrap with require field (#135)
  README.md
  docs/configuration.md
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/exec_cmd.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/monitor.go
  internal/cli/parallel.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/status.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/doctor/hosts.go
  internal/doctor/requirements.go
  internal/host/selector.go
  internal/require/cache.go
  internal/require/check.go
  internal/require/require.go
  internal/require/require_test.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/commands.md
  plugins/rr/skills/rr/config.md
  plugins/rr/skills/rr/machine-interface.md
  plugins/rr/skills/rr/requirements.md
  plugins/rr/skills/rr/tasks.md
  plugins/rr/skills/rr/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: respect project local_fallback config and add SSH agent docs
  internal/cli/loadbalance.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add task dependencies with parallel group support
  internal/cli/task.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/deps/executor.go
  internal/deps/resolver.go
  internal/deps/resolver_test.go
  scripts/e2e-test.sh
  tests/integration/deps_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

refactor: address code review feedback
  internal/cli/task.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/deps/resolver.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: improve error handling for dependencies
  internal/cli/task.go
  internal/config/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: add task dependencies documentation
  docs/configuration.md
  plugins/rr/skills/rr/SKILL.md
Due: none

feat: add task dependencies with parallel group support (#136)
  docs/configuration.md
  internal/cli/task.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/deps/executor.go
  internal/deps/resolver.go
  internal/deps/resolver_test.go
  plugins/rr/skills/rr/SKILL.md
  scripts/e2e-test.sh
  tests/integration/deps_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

docs: update changelog for v0.15.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.15.0 (#138)
  CHANGELOG.md
Due: none

docs: add SSH agent troubleshooting for handshake failures
  docs/ssh-setup.md
  docs/troubleshooting.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
Due: none

docs: add SSH agent troubleshooting for handshake failures (#139)
  docs/ssh-setup.md
  docs/troubleshooting.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
Due: none

test: expand e2e CLI test coverage from 47 to 97 tests
  scripts/e2e-test.sh
Due: shellcheck

chore: rules
  .claude/rules/debugging.md
  .claude/rules/error-handling.md
  .claude/rules/go/testing.md
  .claude/rules/testing.md
  .claude/rules/verification.md
  .claude/rules/writing.md
  .claude/settings.json
Due: check-json

test: expand e2e CLI test coverage from 47 to 97 tests (#140)
  .claude/rules/debugging.md
  .claude/rules/error-handling.md
  .claude/rules/go/testing.md
  .claude/rules/testing.md
  .claude/rules/verification.md
  .claude/rules/writing.md
  .claude/settings.json
  scripts/e2e-test.sh
Due: check-json, shellcheck

feat(monitor): add GPU monitoring for Apple Silicon and NVIDIA
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/command.go
  internal/monitor/command_test.go
  internal/monitor/detail.go
  internal/monitor/styles.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(monitor): add GPU monitoring for Apple Silicon and NVIDIA (#141)
  internal/monitor/card.go
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/command.go
  internal/monitor/command_test.go
  internal/monitor/detail.go
  internal/monitor/styles.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.16.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.16.0 (#142)
  CHANGELOG.md
Due: none

fix(test): resolve data race in TestOutputManager_ProgressMode
  internal/parallel/output_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(test): resolve data race in TestOutputManager_ProgressMode (#143)
  internal/parallel/output_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): add setup phase that runs once per host before subtasks
  CHANGELOG.md
  docs/configuration.md
  internal/cli/parallel.go
  internal/config/config_test.go
  internal/config/types.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): add setup phase that runs once per host before subtasks (#148)
  CHANGELOG.md
  docs/configuration.md
  internal/cli/parallel.go
  internal/config/config_test.go
  internal/config/types.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/types.go
  internal/parallel/worker.go
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: clarify work-stealing queue behavior in parallel tasks
  CHANGELOG.md
  docs/configuration.md
  internal/parallel/orchestrator_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): add performance-based work-stealing for heterogeneous hosts
  CHANGELOG.md
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint
