Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

docs: update changelog for v0.24.0 (#232)
  CHANGELOG.md
Due: none

refactor: remove dead code from internal/monitor
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/graphs.go
  internal/monitor/graphs_test.go
  internal/monitor/history.go
  internal/monitor/history_test.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  internal/monitor/monitor.go
  internal/monitor/parsers/darwin.go
  internal/monitor/parsers/darwin_test.go
  internal/monitor/parsers/gpu.go
  internal/monitor/parsers/gpu_test.go
  internal/monitor/parsers/linux.go
  internal/monitor/parsers/linux_test.go
  internal/monitor/pool.go
  internal/monitor/pool_test.go
  internal/monitor/styles.go
  internal/monitor/styles_test.go
  internal/monitor/view.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

perf: fold lock check into monitor metrics batch
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/command.go
  internal/monitor/command_test.go
  internal/monitor/model.go
  internal/monitor/model_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: wire monitor interval/exclude/threshold config
  docs/configuration.md
  internal/cli/commands.go
  internal/cli/monitor.go
  internal/cli/monitor_test.go
  internal/config/config_test.go
  internal/config/types.go
  internal/monitor/card.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  tests/integration/monitor_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

perf: cache graph styles and card bodies in monitor render path
  internal/monitor/bench_test.go
  internal/monitor/card.go
  internal/monitor/graphs.go
  internal/monitor/keybindings.go
  internal/monitor/model.go
  internal/monitor/render_cache_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: unify parallel SSH dialing across host selector and monitor pool
  internal/host/cache.go
  internal/host/dial.go
  internal/host/dial_test.go
  internal/host/selector.go
  internal/monitor/pool.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add disk, temperature, per-core CPU, and system info to monitor
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/command.go
  internal/monitor/command_test.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/graphs.go
  internal/monitor/graphs_test.go
  internal/monitor/model.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: monitor visualization polish
  internal/cli/commands.go
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/keybindings.go
  internal/monitor/keybindings_test.go
  internal/monitor/model.go
  internal/monitor/render_cache_test.go
  internal/monitor/styles.go
  internal/monitor/styles_test.go
  internal/monitor/types.go
  internal/monitor/types_test.go
  internal/monitor/view.go
  internal/monitor/view_test.go
  internal/ui/colors.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: base CPU warming-up state on explicit collector flag
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/detail_test.go
  internal/monitor/types.go
  internal/monitor/types_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add --once and --json snapshot mode to rr monitor
  internal/cli/commands.go
  internal/cli/monitor.go
  internal/cli/monitor_once.go
  internal/cli/monitor_once_test.go
  internal/monitor/command.go
  internal/monitor/snapshot.go
  internal/monitor/snapshot_test.go
  internal/monitor/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add threshold alerts to rr monitor
  internal/cli/monitor.go
  internal/cli/monitor_test.go
  internal/config/alerts_test.go
  internal/config/types.go
  internal/config/validate.go
  internal/monitor/alerts.go
  internal/monitor/alerts_model_test.go
  internal/monitor/alerts_test.go
  internal/monitor/card.go
  internal/monitor/model.go
  internal/monitor/view.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: rewrite monitor documentation to match shipped behavior
  README.md
  docs/ARCHITECTURE.md
  docs/configuration.md
  internal/monitor/collector.go
  internal/monitor/doc.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: monitor QA nits - self-process filter, pluralization, process CPU color scale
  internal/monitor/card.go
  internal/monitor/card_test.go
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/command.go
  internal/monitor/detail.go
  internal/monitor/detail_test.go
  internal/monitor/view.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address CodeRabbit review on monitor improvements
  docs/ARCHITECTURE.md
  internal/config/config_test.go
  internal/config/validate.go
  internal/host/cache.go
  internal/monitor/alerts.go
  internal/monitor/collector.go
  internal/monitor/collector_test.go
  internal/monitor/command.go
  internal/monitor/command_test.go
  internal/monitor/detail.go
  internal/monitor/graphs.go
  internal/monitor/pool.go
  internal/monitor/snapshot.go
  internal/monitor/snapshot_test.go
  internal/monitor/view_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.25.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.25.0 (#234)
  CHANGELOG.md
Due: none

fix: bump Go to 1.25.13 to resolve govulncheck failures
  go.mod
Due: go-mod-tidy

fix: bump Go to 1.25.13 to resolve govulncheck failures (#239)
  go.mod
Due: go-mod-tidy

build(deps): bump x/crypto, testify, and huh
  go.mod
  go.sum
Due: go-mod-tidy

build(deps): bump x/crypto, testify, and huh (#240)
  go.mod
  go.sum
Due: go-mod-tidy

feat: prune stale worktree remote dirs, honor pinned subtasks in parallel runs
  CHANGELOG.md
  README.md
  docs/configuration.md
  internal/cli/commands.go
  internal/cli/parallel.go
  internal/cli/parallel_hosts_test.go
  internal/cli/prune.go
  internal/cli/workflow.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/types.go
  internal/config/validate.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_hosts_test.go
  internal/parallel/types.go
  internal/sync/marker.go
  internal/sync/prune.go
  internal/sync/prune_test.go
  internal/sync/sync.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: reject prune positional args, report only dirs actually removed
  internal/cli/commands.go
  internal/sync/prune.go
  internal/sync/prune_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(deps): bump x/crypto to 0.56.0 for the SSH DoS advisories
  .github/workflows/ci.yml
  .golangci-version
  .golangci.yml
  CHANGELOG.md
  Makefile
  go.mod
  go.sum
  internal/cli/doctor.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml

fix: resolve the pinned golangci-lint through GOBIN, quote the path
  Makefile
Due: none

feat: prune stale worktree remote dirs, honor pinned subtasks in parallel runs (#241)
  .github/workflows/ci.yml
  .golangci-version
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/configuration.md
  go.mod
  go.sum
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/parallel.go
  internal/cli/parallel_hosts_test.go
  internal/cli/prune.go
  internal/cli/workflow.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/types.go
  internal/config/validate.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_hosts_test.go
  internal/parallel/types.go
  internal/sync/marker.go
  internal/sync/prune.go
  internal/sync/prune_test.go
  internal/sync/sync.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml

docs: lead README with the agent test-runner use case, sync docs with code
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/MIGRATION.md
  docs/claude-code.md
  docs/configuration.md
  docs/examples/global-config.yaml
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
  docs/releasing.md
  docs/ssh-setup.md
  docs/troubleshooting.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/requirements.md
  plugins/rr/skills/rr/reference/tasks.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: check-yaml

docs: address review feedback on lock scope, host keys, and agent output
  README.md
  docs/ARCHITECTURE.md
  docs/configuration.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/requirements.md
Due: none

test: clear inherited GIT_* env in worktree fixture tests
  internal/config/expand_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: lead README with the agent test-runner use case, sync docs with code (#244)
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/MIGRATION.md
  docs/claude-code.md
  docs/configuration.md
  docs/examples/global-config.yaml
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
  docs/releasing.md
  docs/ssh-setup.md
  docs/troubleshooting.md
  internal/config/expand_test.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/requirements.md
  plugins/rr/skills/rr/reference/tasks.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

fix(sync): run lockfile invalidation inside sync for every caller
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/sync/marker.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(config): report config warnings, drop dead output section, fix defaults
  .rr.yaml
  internal/cli/config_contract_test.go
  internal/cli/init.go
  internal/cli/root.go
  internal/cli/task.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/config/warnings.go
  internal/config/warnings_test.go
  tests/integration/mvp_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

fix(parallel): sync, env, setup, and pull match single-task runs
  internal/cli/parallel.go
  internal/cli/parallel_pull_test.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/cli/workflow.go
  internal/config/tasks.go
  internal/config/tasks_test.go
  internal/parallel/orchestrator.go
  internal/parallel/types.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): decide the execution target once, share one test-outcome parser
  internal/cli/doc.go
  internal/cli/loadbalance.go
  internal/cli/loadbalance_test.go
  internal/cli/parallel.go
  internal/cli/phase_reporter.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/runlog.go
  internal/cli/runlog_test.go
  internal/cli/sync.go
  internal/cli/sync_test.go
  internal/cli/target.go
  internal/cli/target_test.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/exec/executor.go
  internal/exec/executor_test.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/output/formatter.go
  internal/output/formatter_test.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/outcome.go
  internal/output/formatters/outcome_test.go
  internal/output/state.go
  internal/output/state_test.go
  internal/output/stream.go
  internal/output/stream_test.go
  internal/setup/copy.go
  internal/setup/copy_test.go
  internal/sync/rsync.go
  internal/sync/sync_test.go
  internal/ui/connection.go
  internal/ui/connection_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(doctor): exit 1 on real failures, grade checks by run impact
  internal/cli/doctor.go
  internal/cli/doctor_test.go
  internal/doctor/config.go
  internal/doctor/config_test.go
  internal/doctor/deps.go
  internal/doctor/deps_test.go
  internal/doctor/hosts.go
  internal/doctor/hosts_test.go
  internal/doctor/path.go
  internal/doctor/remote.go
  internal/doctor/remote_test.go
  internal/doctor/requirements.go
  internal/doctor/requirements_test.go
  internal/doctor/ssh.go
  internal/doctor/ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): classify errors at the source, stop -v eating task args
  internal/cli/errcodes_test.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/monitor.go
  internal/cli/provision.go
  internal/cli/root.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/cli/unlock.go
  internal/cli/workflow.go
  internal/config/errcodes_test.go
  internal/config/loader.go
  internal/config/validate.go
  internal/host/selector.go
  internal/host/selector_test.go
  internal/host/testing/fake_selector.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: document audit fixes, backfill changelog, bump plugin to 1.4.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/CLAUDE.md
  .claude/commands/merge-release.md
  .claude/rules/error-handling.md
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/ARCHITECTURE.md
  docs/MIGRATION.md
  docs/configuration.md
  docs/troubleshooting.md
  internal/cli/commands.go
  internal/cli/loadbalance.go
  internal/cli/logs.go
  internal/cli/workflow.go
  internal/lock/lock.go
  internal/sync/pull_test.go
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/requirements.md
  plugins/rr/skills/rr/reference/tasks.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-json

fix(config): reject env var names the shell can't export
  internal/config/config_test.go
  internal/config/validate.go
  internal/config/validate_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(exec): build every task command with one builder
  internal/exec/task.go
  internal/exec/task_test.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
  internal/util/shell.go
  internal/util/shell_test.go
  tests/integration/parallel_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint
