Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

fix(tasks): substitute {args} placeholders instead of blindly appending extra args
  .rr.yaml
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/task.go
  internal/exec/task.go
  internal/exec/task_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

fix(lock): steal locks from dead local processes and enrich lock errors
  internal/cli/loadbalance.go
  internal/cli/unlock.go
  internal/lock/lock.go
  internal/lock/lock_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): make local fallback loud and lock-aware instead of silent
  internal/cli/loadbalance.go
  internal/cli/loadbalance_test.go
  internal/cli/phase_reporter.go
  internal/cli/workflow.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(sync): isolate git worktrees on remote and record sync provenance
  .rr.yaml
  internal/cli/doctor.go
  internal/cli/init.go
  internal/cli/status.go
  internal/cli/status_test.go
  internal/cli/workflow.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/doctor/worktree.go
  internal/host/selector.go
  internal/sync/marker.go
  internal/sync/marker_test.go
  internal/sync/sync.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

feat(exec): rewrite local absolute paths for remote execution
  internal/cli/init.go
  internal/cli/parallel.go
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
  internal/cli/run.go
  internal/cli/task.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): reject task or host names as the first word of run/exec commands
  internal/cli/argcheck.go
  internal/cli/argcheck_test.go
  internal/cli/exec_cmd.go
  internal/cli/run.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(config): validate host dirs after variable expansion
  internal/config/config_test.go
  internal/config/validate.go
  internal/config/validate_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(output): capture run logs, tolerate broken pipes, add --tail
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/root.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/runlog.go
  internal/cli/runlog_test.go
  internal/cli/sigpipe_unix.go
  internal/cli/sigpipe_windows.go
  internal/cli/task.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/stream.go
  internal/output/stream_test.go
  internal/parallel/logs/writer.go
  internal/parallel/logs/writer_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: cover agent-compat round 2 changes; improve parallel arg rejection
  CHANGELOG.md
  README.md
  docs/configuration.md
  internal/cli/parallel_test.go
  internal/cli/task.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(exec): rewrite tilde remote dirs to $HOME form so paths expand in all shell contexts
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(lock): re-verify holder before dead-lock steal and harden machine token
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/lock/machinetoken.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): repeat local-fallback warning in pretty mode and surface load-balance lock steals
  internal/cli/loadbalance.go
  internal/cli/phase_reporter.go
  internal/cli/run.go
  internal/cli/sigpipe_unix.go
  internal/cli/task.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(output): seek run logs instead of full reads and avoid same-second log dir collisions
  internal/cli/runlog.go
  internal/parallel/logs/cleanup.go
  internal/parallel/logs/cleanup_test.go
  internal/parallel/logs/writer.go
  internal/parallel/logs/writer_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: changelog notes for $HOME path rewriting and SIGPIPE inheritance
  CHANGELOG.md
Due: none

fix(cli): exit non-zero after machine-mode error envelopes and fix stale e2e assertions
  internal/cli/host.go
  internal/cli/json.go
  internal/cli/json_test.go
  scripts/e2e-test.sh
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

fix(output): serialize concurrent writes to shared stream writers
  internal/output/stream.go
  internal/output/stream_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(deps): bump Go toolchain to 1.25.12 and quote mock error paths safely
  go.mod
  pkg/sshutil/testing/mock_client.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

fix: address CodeRabbit review feedback
  internal/cli/argcheck_test.go
  internal/cli/phase_reporter.go
  internal/cli/run.go
  internal/cli/task.go
  internal/doctor/worktree.go
  internal/lock/deadpid_unix_test.go
  internal/lock/holder_test.go
  internal/lock/lock_test.go
  internal/lock/machinetoken.go
  internal/output/stream.go
  internal/parallel/logs/writer.go
  internal/parallel/logs/writer_test.go
  internal/util/shell.go
  internal/util/shell_test.go
  scripts/e2e-test.sh
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

docs: update changelog for v0.23.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.23.0 (#228)
  CHANGELOG.md
Due: none

fix: address v0.23.0 manual QA findings
  CHANGELOG.md
  internal/cli/task.go
  internal/cli/task_test.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/pytest.go
  scripts/e2e-test.sh
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

fix(cli): address CodeRabbit review on QA fixes
  internal/cli/task.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: v0.23.0 manual QA findings (quiet pytest summaries, --config fallback, task flag hint) (#229)
  CHANGELOG.md
  internal/cli/task.go
  internal/cli/task_test.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/pytest.go
  scripts/e2e-test.sh
Due: go-fmt, go-imports, go-vet, golangci-lint, shellcheck

docs: update changelog for v0.23.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.23.1 (#230)
  CHANGELOG.md
Due: none

docs: agent compatibility feedback round 3
  FEEDBACK-ROUND-3.md
Due: none

docs: correct Issue 9 -- pipefail, not a discarded exit code
  FEEDBACK-ROUND-3.md
Due: none

fix(output): implement TestSummaryProvider for jest/vitest
  internal/output/formatters/jest.go
  internal/output/formatters/jest_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(output): report when a test run collected zero tests
  FEEDBACK.md
  internal/cli/parallel.go
  internal/cli/phase_reporter.go
  internal/cli/runlog.go
  internal/cli/runlog_test.go
  internal/output/formatter.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/gotest.go
  internal/output/formatters/jest.go
  internal/output/formatters/pytest.go
  internal/output/formatters/pytest_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(cli): run ad-hoc commands from the caller's subdirectory
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: explain relative paths that don't resolve where rr ran the command
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
  internal/cli/run.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: flag pipe-swallowed exit codes on zero-test runs
  docs/configuration.md
  internal/cli/init.go
  internal/cli/phase_reporter.go
  internal/cli/runlog.go
  internal/cli/runlog_test.go
  internal/util/shell.go
  internal/util/shell_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: changelog + pipe/cwd docs, retire the feedback files
  CHANGELOG.md
  FEEDBACK-ROUND-3.md
  FEEDBACK.md
  docs/configuration.md
Due: none

fix: address code review of the round 3 changes
  CHANGELOG.md
  docs/configuration.md
  internal/cli/parallel.go
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
  internal/cli/phase_reporter.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/jest.go
  internal/output/formatters/jest_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address CodeRabbit review findings
  CHANGELOG.md
  internal/cli/phase_reporter.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: reject an unusable explicit --cwd instead of ignoring it
  internal/cli/run.go
  internal/cli/run_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: run in the validated directory instead of recomputing it
  internal/cli/run.go
  internal/cli/run_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: agent compatibility round 3 (auto-cwd, zero-test reporting, pipe caveats) (#231)
  CHANGELOG.md
  docs/configuration.md
  internal/cli/init.go
  internal/cli/parallel.go
  internal/cli/pathrewrite.go
  internal/cli/pathrewrite_test.go
  internal/cli/phase_reporter.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/runlog.go
  internal/cli/runlog_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/output/formatter.go
  internal/output/formatters/detect.go
  internal/output/formatters/detect_test.go
  internal/output/formatters/gotest.go
  internal/output/formatters/jest.go
  internal/output/formatters/jest_test.go
  internal/output/formatters/pytest.go
  internal/output/formatters/pytest_test.go
  internal/util/shell.go
  internal/util/shell_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.24.0
  CHANGELOG.md
Due: none
