Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-imports:
  run: "if command -v goimports >/dev/null 2>&1; then\n  goimports -w {staged_files}\nelif [ -x \"$HOME/go/bin/goimports\" ]; then\n  \"$HOME/go/bin/goimports\" -w {staged_files}\nelif [ -x \"$(go env GOPATH)/bin/goimports\" ]; then\n  \"$(go env GOPATH)/bin/goimports\" -w {staged_files}\nfi\n"
  ...

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: go mod tidy
  stage_fixed: true

golangci-lint:
  run: make lint-fix
  stage_fixed: true

check-yaml:
  run: "if command -v python3 >/dev/null 2>&1 && python3 -c \"import yaml\" 2>/dev/null; then\n  for file in {staged_files}; do\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  done\nfi\n"

check-json:
  run: "if command -v python3 >/dev/null 2>&1; then\n  for file in {staged_files}; do\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  done\nfi\n"

shellcheck:
  run: "if command -v shellcheck >/dev/null 2>&1; then\n  shellcheck -e SC1091 {staged_files}\nelse\n  echo \"shellcheck not installed, skipping (install with: brew install shellcheck)\"\nfi\n"

docs: update changelog for v0.10.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.10.0 (#73)
  CHANGELOG.md
Due: none

fix: correct semver comparison for version updates
  internal/cli/update.go
  internal/cli/update_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: correct semver comparison for version updates (#74)
  internal/cli/update.go
  internal/cli/update_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.10.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.10.1 (#75)
  CHANGELOG.md
Due: none

docs: skill and readme
  .claude-plugin/commands/setup.md
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/skills/rr.md
  README.md
  docs/claude-code.md
  skills/README.md
Due: check-json

docs: skill and readme (#76)
  .claude-plugin/commands/setup.md
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/skills/rr.md
  README.md
  docs/claude-code.md
  skills/README.md
Due: check-json

docs: cc
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  docs/claude-code.md
  plugin/commands/setup.md
  plugin/skills/rr.md
Due: check-json

docs: cc (#77)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  docs/claude-code.md
  plugin/commands/setup.md
  plugin/skills/rr.md
Due: check-json

chore: command scope
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  docs/claude-code.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
Due: check-json

chore: command scope (#78)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  docs/claude-code.md
  plugins/rr/commands/setup.md
  plugins/rr/skills/rr/SKILL.md
Due: check-json

chore: command scope
  plugins/rr/commands/setup.md
Due: none

chore: command scope
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: check-json

Improve install command (#79)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  plugins/rr/commands/setup.md
Due: check-json

feat: add Code Rabbit configuration for automated PR reviews
  .coderabbit.yaml
Due: check-yaml

fix: shorten tone_instructions to meet 250 char limit
  .coderabbit.yaml
Due: check-yaml

fix: address Code Rabbit review feedback
  .coderabbit.yaml
  plugins/rr/commands/setup.md
Due: check-yaml

feat: integrate Code Rabbit for automated PR reviews (#84)
  .coderabbit.yaml
  plugins/rr/commands/setup.md
Due: check-yaml

fix: speed up SSH server readiness check in CI
  .github/workflows/ci.yml
Due: check-yaml

fix: speed up SSH server readiness check in CI (#85)
  .github/workflows/ci.yml
Due: check-yaml

feat(config): add parallel task and logs config schema
  internal/cli/task.go
  internal/config/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: add caching for govulncheck and Docker image
  .github/workflows/ci.yml
Due: check-yaml

chore: add caching for govulncheck and Docker image (#86)
  .github/workflows/ci.yml
Due: check-yaml

chore: quiet test output on success
  .github/workflows/ci.yml
Due: check-yaml

chore: quiet test output on success (#87)
  .github/workflows/ci.yml
Due: check-yaml

feat(parallel): add orchestrator, output manager, and summary
  internal/parallel/orchestrator.go
  internal/parallel/output.go
  internal/parallel/summary.go
  internal/parallel/types.go
  internal/parallel/worker.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add parallel task execution and log management
  internal/cli/logs.go
  internal/cli/parallel.go
  internal/cli/task.go
  internal/config/validate.go
  internal/parallel/logs/cleanup.go
  internal/parallel/logs/writer.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: combine unit and integration test coverage
  .github/workflows/ci.yml
Due: check-yaml

feat: combine unit and integration test coverage (#88)
  .github/workflows/ci.yml
Due: check-yaml

test: add parallel execution tests and update docs
  .rr.yaml
  internal/config/validate_test.go
  internal/parallel/logs/cleanup.go
  internal/parallel/logs/cleanup_test.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

feat: add integration tests with real SSH execution
  tests/integration/exec_ssh_test.go
  tests/integration/lock_ssh_test.go
  tests/integration/ssh_helper_test.go
  tests/integration/sync_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add integration tests with real SSH execution (#90)
  tests/integration/exec_ssh_test.go
  tests/integration/lock_ssh_test.go
  tests/integration/ssh_helper_test.go
  tests/integration/sync_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: integration tests rsync connection in CI
  internal/sync/sync.go
  internal/sync/sync_test.go
  tests/integration/ssh_helper_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: complete parallel task execution implementation
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  internal/cli/parallel.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/worker.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-json

fix: integration tests - create dirs and skip if no rsync
  tests/integration/exec_ssh_test.go
  tests/integration/ssh_helper_test.go
  tests/integration/sync_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: quote SSHConfigFile path in rsync command
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: integration tests rsync connection in CI (#91)
  internal/sync/sync.go
  internal/sync/sync_test.go
  tests/integration/exec_ssh_test.go
  tests/integration/ssh_helper_test.go
  tests/integration/sync_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address PR review comments
  .rr.yaml
  internal/cli/parallel.go
  internal/parallel/logs/writer.go
  internal/parallel/output.go
  internal/parallel/summary.go
  internal/parallel/worker.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

feat: parallel task execution across multiple hosts (#89)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .rr.yaml
  internal/cli/logs.go
  internal/cli/parallel.go
  internal/cli/task.go
  internal/config/types.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/parallel/logs/cleanup.go
  internal/parallel/logs/cleanup_test.go
  internal/parallel/logs/writer.go
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/summary.go
  internal/parallel/types.go
  internal/parallel/worker.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml, check-json

Path conditions:
  go-fmt: any of: *.go
  go-imports: any of: *.go
  go-vet: any of: *.go
  go-mod-tidy: any of: {go.mod,go.sum}
  golangci-lint: any of: *.go
  check-yaml: any of: *.{yaml,yml}, but not: completions/.*
  check-json: any of: *.json
  shellcheck: any of: *.sh
