Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-imports:
  run: "if command -v goimports >/dev/null 2>&1; then\n  goimports -w {staged_files}\nelif [ -x \"$HOME/go/bin/goimports\" ]; then\n  \"$HOME/go/bin/goimports\" -w {staged_files}\nelif [ -x \"$(go env GOPATH)/bin/goimports\" ]; then\n  \"$(go env GOPATH)/bin/goimports\" -w {staged_files}\nfi\n"
  ...

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: go mod tidy
  stage_fixed: true

golangci-lint:
  run: make lint-fix
  stage_fixed: true

check-yaml:
  run: "if command -v python3 >/dev/null 2>&1 && python3 -c \"import yaml\" 2>/dev/null; then\n  for file in {staged_files}; do\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  done\nfi\n"

check-json:
  run: "if command -v python3 >/dev/null 2>&1; then\n  for file in {staged_files}; do\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  done\nfi\n"

shellcheck:
  run: "if command -v shellcheck >/dev/null 2>&1; then\n  shellcheck -e SC1091 {staged_files}\nelse\n  echo \"shellcheck not installed, skipping (install with: brew install shellcheck)\"\nfi\n"

build(deps): bump go toolchain to 1.25.8 to fix govulncheck (#201)
  go.mod
Due: go-mod-tidy

fix: SSH improvements - IdentityAgent, certificates, Ctrl+C cleanup, socket paths
  internal/cli/run.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/deps/executor.go
  internal/exec/task.go
  internal/exec/task_test.go
  internal/sync/sync.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
  pkg/sshutil/exec.go
  tests/integration/exec_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address review feedback - connection leak, force-quit, cert warnings
  internal/cli/workflow.go
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address CodeRabbit review feedback
  internal/cli/task.go
  internal/cli/workflow.go
  internal/exec/task.go
  pkg/sshutil/client_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: SSH improvements - IdentityAgent, certificates, Ctrl+C, socket paths (#202)
  internal/cli/run.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/deps/executor.go
  internal/exec/task.go
  internal/exec/task_test.go
  internal/sync/sync.go
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
  pkg/sshutil/exec.go
  tests/integration/exec_ssh_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add lockfile invalidation to delete stale remote install dirs
  internal/cli/init.go
  internal/cli/workflow.go
  internal/config/types.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: agent-first structured output, lock heartbeat, gitignore sync, AI excludes
  CHANGELOG.md
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/doctor_test.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/loadbalance.go
  internal/cli/parallel.go
  internal/cli/phase_reporter.go
  internal/cli/provision.go
  internal/cli/provision_test.go
  internal/cli/root.go
  internal/cli/run.go
  internal/cli/status.go
  internal/cli/status_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/parallel/worker.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: agent-first structured output, lock heartbeat, gitignore sync, AI excludes (#205)
  CHANGELOG.md
  internal/cli/commands.go
  internal/cli/doctor.go
  internal/cli/doctor_test.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/loadbalance.go
  internal/cli/parallel.go
  internal/cli/phase_reporter.go
  internal/cli/provision.go
  internal/cli/provision_test.go
  internal/cli/root.go
  internal/cli/run.go
  internal/cli/status.go
  internal/cli/status_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/lock/lock.go
  internal/lock/lock_test.go
  internal/parallel/worker.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint

build(deps): bump go toolchain to 1.25.10 to fix govulncheck
  go.mod
Due: go-mod-tidy

build(deps): bump go toolchain to 1.25.10 to fix govulncheck (#206)
  go.mod
Due: go-mod-tidy

docs: add Go 1.25.10 security bump to v0.21.0 changelog
  CHANGELOG.md
Due: none

docs: add Go 1.25.10 security bump to v0.21.0 changelog (#207)
  CHANGELOG.md
Due: none

fix: split proxy.go into platform-specific files for Windows build
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_unix.go
  pkg/sshutil/proxy_windows.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: split proxy.go into platform-specific files for Windows build (#208)
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_unix.go
  pkg/sshutil/proxy_windows.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: enable colors for monitor TUI despite machine-readable default
  internal/cli/commands.go
  internal/ui/colors.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: reduce agent friction - parallel args, --no-phases, --cwd, forward_args, stale lock UX
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/root.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/cli/workflow.go
  internal/config/loader.go
  internal/config/types.go
  internal/lock/lock.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: code review findings - path traversal guard, raw stderr in machine mode, arg injection
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/workflow.go
  internal/lock/lock.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address CodeRabbit review - path.Join for POSIX, hardened captureStderr, SKILL.md --cwd example
  internal/cli/json_test.go
  internal/cli/run.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: v0.22.0 - agent friction fixes + security patches
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/json.go
  internal/cli/json_test.go
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/root.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/cli/workflow.go
  internal/config/loader.go
  internal/config/types.go
  internal/lock/lock.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  internal/ui/colors.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

build(deps): bump golang.org/x/* deps to latest patch versions
  go.mod
  go.sum
Due: go-mod-tidy

build(deps): bump golang.org/x/* deps to latest patch versions (#213)
  go.mod
  go.sum
Due: go-mod-tidy

docs: update changelog for v0.22.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.22.1 (#214)
  CHANGELOG.md
Due: none

fix: include structured failure details in machine-mode parallel output
  internal/cli/parallel.go
  internal/cli/parallel_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: include structured failure details in machine-mode parallel output (#216)
  internal/cli/parallel.go
  internal/cli/parallel_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.22.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.22.2 (#217)
  CHANGELOG.md
Due: none

ci: pin govulncheck to v1.3.0 to avoid v1.4.0 panic
  .github/workflows/ci.yml
Due: check-yaml

ci: pin govulncheck to v1.3.0 to avoid v1.4.0 panic (#218)
  .github/workflows/ci.yml
Due: check-yaml

fix(sync): translate .gitignore negation into rsync filter rules correctly
  FEEDBACK.md
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(deps): bump Go toolchain to 1.25.11 to resolve stdlib CVEs
  go.mod
Due: go-mod-tidy

fix(sync): match unanchored directory patterns by basename in ancestor poisoning
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(sync): translate .gitignore negation into rsync filter rules correctly (#220)
  FEEDBACK.md
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(deps): bump Go toolchain to 1.25.11 to resolve stdlib CVEs (#221)
  go.mod
Due: go-mod-tidy

docs: update changelog for v0.22.3
  CHANGELOG.md
Due: none

docs: update changelog for v0.22.3 (#222)
  CHANGELOG.md
Due: none

chore: remove FEEDBACK.md, all tracked issues resolved
  FEEDBACK.md
Due: none

chore: remove FEEDBACK.md, all tracked issues resolved (#223)
  FEEDBACK.md
Due: none

refactor: shared foundations for agent-compatibility fixes
  internal/cli/loadbalance.go
  internal/cli/phase_reporter.go
  internal/cli/run.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/lock/holder_test.go
  internal/lock/info.go
  internal/lock/lock.go
  internal/lock/machinetoken.go
  internal/lock/pid_unix.go
  internal/lock/pid_windows.go
  internal/util/shell.go
  internal/util/shell_test.go
  tests/integration/loadbalance_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

Path conditions:
  go-fmt: any of: *.go
  go-imports: any of: *.go
  go-vet: any of: *.go
  go-mod-tidy: any of: {go.mod,go.sum}
  golangci-lint: any of: *.go
  check-yaml: any of: *.{yaml,yml}, but not: completions/.*
  check-json: any of: *.json
  shellcheck: any of: *.sh
