Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

feat(monitor): add default sort order and reorganize VHS demos (#48)
  Makefile
  internal/cli/monitor.go
  internal/monitor/card_test.go
  internal/monitor/detail_test.go
  internal/monitor/keybindings.go
  internal/monitor/keybindings_test.go
  internal/monitor/model.go
  internal/monitor/model_test.go
  internal/monitor/view.go
  internal/monitor/view_test.go
  scripts/demo-extended.tape
  scripts/demo-monitor.tape
  scripts/demo.tape
  tapes/README.md
  tapes/demo-doctor.tape
  tapes/demo-extended.tape
  tapes/demo-failover.tape
  tapes/demo-init.tape
  tapes/demo-monitor.tape
  tapes/demo-tasks.tape
  tapes/demo.tape
  tapes/mock/rr-mock
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.7.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.7.2 (#49)
  CHANGELOG.md
Due: none

Update images in README.md
  README.md
Due: none

Update images in README.md (#50)
  README.md
Due: none

Remove unused image from README
  README.md
Due: none

Remove unused image from README (#51)
  README.md
Due: none

feat: vhs tapes
  Makefile
  tapes/README.md
  tapes/demo-doctor.gif
  tapes/demo-doctor.tape
  tapes/demo-extended.gif
  tapes/demo-extended.tape
  tapes/demo-failover.gif
  tapes/demo-failover.tape
  tapes/demo-init.tape
  tapes/demo-monitor.tape
  tapes/demo-tasks.gif
  tapes/demo-tasks.tape
  tapes/demo.gif
  tapes/demo.tape
  tapes/mock/rr
  tapes/mock/rr-mock
Due: none

docs: update for global host config and add claude code plugin
  .claude-plugin/plugin.json
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/MIGRATION.md
  docs/claude-code.md
  docs/configuration.md
  docs/examples/README.md
  docs/examples/global-config.yaml
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
  docs/ssh-setup.md
  docs/troubleshooting.md
  internal/cli/init.go
  skills/README.md
  skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml, check-json

docs: update for global host config and add claude code plugin (#53)
  .claude-plugin/plugin.json
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/MIGRATION.md
  docs/claude-code.md
  docs/configuration.md
  docs/examples/README.md
  docs/examples/global-config.yaml
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
  docs/ssh-setup.md
  docs/troubleshooting.md
  internal/cli/init.go
  skills/README.md
  skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml, check-json

docs: update changelog for v0.7.3
  CHANGELOG.md
Due: none

docs: update changelog for v0.7.3 (#54)
  CHANGELOG.md
Due: none

chore: marketplace config
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: check-json

chore: marketplace config (#55)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: check-json

docs: fix plugin install commands
  README.md
  docs/claude-code.md
  skills/README.md
Due: none

docs: fix plugin install commands (#56)
  README.md
  docs/claude-code.md
  skills/README.md
Due: none

feat: add task argument passthrough and rr tasks command
  README.md
  internal/cli/commands.go
  internal/cli/completion_test.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/config/validate.go
  internal/exec/task.go
  internal/exec/task_test.go
  skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add task argument passthrough and rr tasks command (#57)
  README.md
  internal/cli/commands.go
  internal/cli/completion_test.go
  internal/cli/task.go
  internal/cli/task_test.go
  internal/config/validate.go
  internal/exec/task.go
  internal/exec/task_test.go
  skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.8.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.8.0 (#58)
  CHANGELOG.md
Due: none

fix: merge-release command handles branch protection
  .claude/commands/merge-release.md
Due: none

fix: merge-release command handles branch protection (#59)
  .claude/commands/merge-release.md
Due: none

feat: add project-level defaults and multi-step task progress
  go.mod
  internal/cli/run.go
  internal/cli/task.go
  internal/config/tasks.go
  internal/config/types.go
  internal/exec/task.go
  internal/exec/task_test.go
  skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

feat: add project-level defaults and multi-step task progress (#60)
  go.mod
  internal/cli/run.go
  internal/cli/task.go
  internal/config/tasks.go
  internal/config/types.go
  internal/exec/task.go
  internal/exec/task_test.go
  skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

docs: update changelog for v0.9.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.9.0 (#61)
  CHANGELOG.md
Due: none

fix: respect local_fallback in project config and add --local flag
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/flags.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/loader.go
  internal/config/types.go
  internal/host/selector.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: respect local_fallback in project config and add --local flag (#67)
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/flags.go
  internal/cli/host.go
  internal/cli/init.go
  internal/cli/init_test.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/loader.go
  internal/config/types.go
  internal/host/selector.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: update Go to 1.24.11 to resolve security vulnerabilities
  go.mod
  go.sum
Due: go-mod-tidy

Add GIF to README under License section
  README.md
Due: none

Add GIF to README under License section (#69)
  README.md
Due: none

Center image in README and remove extra line
  README.md
Due: none

Center image in README and remove extra line (#70)
  README.md
Due: none

fix: update Go to 1.24.11 to resolve security vulnerabilities (#68)
  go.mod
  go.sum
Due: go-mod-tidy

docs: update changelog for v0.9.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.9.1 (#71)
  CHANGELOG.md
Due: none
