Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-imports:
  run: "if command -v goimports >/dev/null 2>&1; then\n  goimports -w {staged_files}\nelif [ -x \"$HOME/go/bin/goimports\" ]; then\n  \"$HOME/go/bin/goimports\" -w {staged_files}\nelif [ -x \"$(go env GOPATH)/bin/goimports\" ]; then\n  \"$(go env GOPATH)/bin/goimports\" -w {staged_files}\nfi\n"
  ...

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: go mod tidy
  stage_fixed: true

golangci-lint:
  run: make lint-fix
  stage_fixed: true

check-yaml:
  run: "if command -v python3 >/dev/null 2>&1 && python3 -c \"import yaml\" 2>/dev/null; then\n  for file in {staged_files}; do\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  done\nfi\n"

check-json:
  run: "if command -v python3 >/dev/null 2>&1; then\n  for file in {staged_files}; do\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  done\nfi\n"

shellcheck:
  run: "if command -v shellcheck >/dev/null 2>&1; then\n  shellcheck -e SC1091 {staged_files}\nelse\n  echo \"shellcheck not installed, skipping (install with: brew install shellcheck)\"\nfi\n"

docs: update work-stealing documentation with performance optimization
  docs/configuration.md
  plugins/rr/skills/rr/tasks.md
Due: none

perf(parallel): skip slow-host delay when queue is empty or task available
  internal/parallel/orchestrator.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): add performance-based work-stealing for heterogeneous hosts (#149)
  CHANGELOG.md
  docs/configuration.md
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  plugins/rr/skills/rr/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): support nested parallel tasks with automatic flattening
  CHANGELOG.md
  README.md
  docs/configuration.md
  internal/cli/parallel.go
  internal/config/validate.go
  internal/config/validate_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): support nested parallel tasks with automatic flattening (#150)
  CHANGELOG.md
  README.md
  docs/configuration.md
  internal/cli/parallel.go
  internal/config/validate.go
  internal/config/validate_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.17.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.17.0 (#151)
  CHANGELOG.md
Due: none

docs(skill): add nested parallel tasks documentation
  plugins/rr/skills/rr/tasks.md
Due: none

docs(skill): add nested parallel tasks documentation (#152)
  plugins/rr/skills/rr/tasks.md
Due: none

chore: bump plugin version to 1.3.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: check-json

chore: bump plugin version to 1.3.0 (#153)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: check-json

feat: auto-discover project root by walking up to find .rr.yaml
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/config/config_test.go
  internal/config/loader.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: auto-discover project root by walking up to find .rr.yaml (#155)
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/config/config_test.go
  internal/config/loader.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.18.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.18.0 (#156)
  CHANGELOG.md
Due: none

fix: improve error messages for config discovery failures
  internal/cli/root.go
  internal/cli/root_test.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/util/strings.go
  internal/util/strings_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: remove unused Levenshtein distance functions
  internal/util/strings.go
  internal/util/strings_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address PR review comments
  internal/cli/root.go
  internal/cli/root_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: improve error messages for config discovery failures (#158)
  internal/cli/root.go
  internal/cli/root_test.go
  internal/config/config_test.go
  internal/config/loader.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: allow duplicate tasks in parallel blocks and add --repeat flag
  internal/cli/commands.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/config/validate.go
  internal/config/validate_test.go
  plugins/rr/skills/rr/commands.md
  plugins/rr/skills/rr/tasks.md
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor(skill): move reference files to reference/ subdirectory
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/requirements.md
  plugins/rr/skills/rr/reference/tasks.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: none

docs(examples): fix references and add parallel task examples
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
Due: check-yaml

fix: validate --repeat flag and detect --local/--tag conflict
  internal/cli/commands.go
  internal/cli/flags.go
  internal/cli/parallel.go
  internal/cli/run.go
  internal/cli/workflow.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: add tests for validation and tag filtering
  internal/cli/flags_test.go
  internal/cli/parallel_test.go
  internal/cli/run_test.go
  internal/cli/workflow_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: allow duplicate tasks in parallel blocks and add --repeat flag (#159)
  docs/examples/go-project.yaml
  docs/examples/multi-host.yaml
  docs/examples/node-project.yaml
  docs/examples/python-project.yaml
  internal/cli/commands.go
  internal/cli/flags.go
  internal/cli/flags_test.go
  internal/cli/parallel.go
  internal/cli/parallel_test.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/config/validate.go
  internal/config/validate_test.go
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
  plugins/rr/skills/rr/reference/machine-interface.md
  plugins/rr/skills/rr/reference/requirements.md
  plugins/rr/skills/rr/reference/tasks.md
  plugins/rr/skills/rr/reference/troubleshooting.md
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

docs: update changelog for v0.18.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.18.1 (#161)
  CHANGELOG.md
Due: none

feat: add pull command to download files from remote hosts
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/pull.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/sync/pull.go
  internal/sync/pull_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: add tests to increase coverage for pull feature
  internal/cli/run_test.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/config/config_test.go
  internal/sync/pull_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: add more pull tests for destination groups and flags
  internal/sync/pull_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

test: add LogWriter tests to increase coverage to 60%
  internal/parallel/logs/writer_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: properly track integration test coverage with -coverpkg flag
  .github/workflows/ci.yml
  .rr.yaml
  Makefile
Due: check-yaml

fix: use test SSH key exclusively when RR_TEST_SSH_KEY is set
  Makefile
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address PR review comments for pull command
  Makefile
  internal/config/types.go
  internal/sync/pull.go
  internal/sync/pull_test.go
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add pull command to download files from remote hosts (#162)
  .github/workflows/ci.yml
  .rr.yaml
  Makefile
  internal/cli/commands.go
  internal/cli/exec_cmd.go
  internal/cli/pull.go
  internal/cli/run.go
  internal/cli/run_test.go
  internal/cli/task.go
  internal/cli/workflow.go
  internal/cli/workflow_test.go
  internal/config/config_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/parallel/logs/writer_test.go
  internal/sync/pull.go
  internal/sync/pull_test.go
  pkg/sshutil/client.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

fix: use ProjectRoot for parallel task sync instead of cwd
  internal/parallel/worker.go
  internal/parallel/worker_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: add missing unit tests for CLI, exec, doctor, parallel, and UI
  internal/cli/loadbalance_test.go
  internal/cli/parallel_test.go
  internal/cli/run_test.go
  internal/cli/task_test.go
  internal/deps/executor_test.go
  internal/doctor/requirements_test.go
  internal/exec/task_test.go
  internal/parallel/summary_test.go
  internal/ui/colors_test.go
  internal/ui/table_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address code review feedback and improve test coverage
  internal/parallel/summary_test.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: bump Go version to 1.24.12 to fix crypto/tls vulnerability
  go.mod
Due: go-mod-tidy

fix: use ProjectRoot for parallel task sync instead of cwd (#166)
  go.mod
  internal/parallel/summary_test.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

Path conditions:
  go-fmt: any of: *.go
  go-imports: any of: *.go
  go-vet: any of: *.go
  go-mod-tidy: any of: {go.mod,go.sum}
  golangci-lint: any of: *.go
  check-yaml: any of: *.{yaml,yml}, but not: completions/.*
  check-json: any of: *.json
  shellcheck: any of: *.sh
