Repository rileyhilliard/rr: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, check-yaml, check-json, shellcheck

lefthook.yml:

# Lefthook git hooks configuration
# Install: lefthook install
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Auto-fix: format Go files
    go-fmt:
      glob: "*.go"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    # Auto-fix: organize imports (optional - skips if goimports not installed)
    go-imports:
      glob: "*.go"
      run: |
        if command -v goimports >/dev/null 2>&1; then
          goimports -w {staged_files}
        elif [ -x "$HOME/go/bin/goimports" ]; then
          "$HOME/go/bin/goimports" -w {staged_files}
        elif [ -x "$(go env GOPATH)/bin/goimports" ]; then
          "$(go env GOPATH)/bin/goimports" -w {staged_files}
        fi
      stage_fixed: true

    # Check: go vet for suspicious constructs
    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Auto-fix: tidy go.mod
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

    # Auto-fix: golangci-lint with fixes (uses pinned version from .golangci-version)
    # Note: runs on ./... because linter needs full package context
    golangci-lint:
      glob: "*.go"
      run: make lint-fix
      stage_fixed: true

    # Check: validate YAML syntax (requires python3 with PyYAML)
    check-yaml:
      glob: "*.{yaml,yml}"
      exclude: "completions/.*"
      run: |
        if command -v python3 >/dev/null 2>&1 && python3 -c "import yaml" 2>/dev/null; then
          for file in {staged_files}; do
            python3 -c "import yaml; yaml.safe_load(open('$file'))" || exit 1
          done
        fi

    # Check: validate JSON syntax
    check-json:
      glob: "*.json"
      run: |
        if command -v python3 >/dev/null 2>&1; then
          for file in {staged_files}; do
            python3 -c "import json; json.load(open('$file'))" || exit 1
          done
        fi

    # Check: shellcheck for shell scripts (optional - skips if not installed)
    shellcheck:
      glob: "*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck -e SC1091 {staged_files}
        else
          echo "shellcheck not installed, skipping (install with: brew install shellcheck)"
        fi

commit-msg:
  commands:
    # Enforce conventional commit format
    conventional-commit:
      run: |
        MSG=$(cat {1})
        # Allow merge commits
        if echo "$MSG" | grep -qE "^Merge "; then
          exit 0
        fi
        # Conventional commit format: type(scope)?: description
        if ! echo "$MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo ""
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add host fallback timeout"
          echo "  fix(ssh): handle connection timeout"
          echo "  docs: update README"
          echo ""
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Run full test suite before push
    test:
      run: go test ./...

    # Run full lint check before push (uses pinned version from .golangci-version)
    lint:
      run: make lint

    # Check coverage threshold (50% minimum)
    coverage:
      run: |
        go test -race -coverprofile=coverage.out -covermode=atomic ./... > /dev/null 2>&1
        COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
        echo "Total coverage: $COVERAGE%"
        if [ $(echo "$COVERAGE < 50" | bc -l) -eq 1 ]; then
          echo "Coverage $COVERAGE% is below 50% minimum"
          exit 1
        fi
        rm -f coverage.out

fix: gracefully re-queue tasks when host is unavailable
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/worker.go
  internal/ui/parallel_progress.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: don't re-queue tasks when context is cancelled or timed out
  internal/parallel/worker.go
  internal/parallel/worker_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: gracefully re-queue tasks when host is unavailable (#168)
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
  internal/parallel/output.go
  internal/parallel/output_test.go
  internal/parallel/worker.go
  internal/parallel/worker_test.go
  internal/ui/parallel_progress.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add rr provision command to install missing tools on hosts (#164)
  internal/cli/commands.go
  internal/cli/provision.go
  internal/cli/provision_test.go
  internal/cli/workflow.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(provision): add chromium installer for Playwright support
  internal/exec/provision.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(provision): capture and surface requirement check errors
  internal/cli/provision.go
  internal/cli/provision_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add rr provision command to install missing tools on hosts (#169)
  internal/cli/commands.go
  internal/cli/provision.go
  internal/cli/provision_test.go
  internal/cli/workflow.go
  internal/exec/provision.go
  plugins/rr/skills/rr/SKILL.md
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: bump Claude marketplace plugin version
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: check-json

fix(monitor): improve animation frame handling
  internal/monitor/model.go
  tapes/demo-monitor.tape
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(parallel): add TUI dashboard for parallel task execution
  internal/cli/parallel.go
  internal/cli/task.go
  internal/parallel/dashboard/bridge.go
  internal/parallel/dashboard/bridge_test.go
  internal/parallel/dashboard/dashboard.go
  internal/parallel/dashboard/messages.go
  internal/parallel/dashboard/model.go
  internal/parallel/dashboard/model_test.go
  internal/parallel/dashboard/styles.go
  internal/parallel/orchestrator.go
  internal/parallel/types.go
  internal/parallel/worker.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.19.0
  CHANGELOG.md
Due: none

docs: update changelog for v0.19.0 (#171)
  CHANGELOG.md
Due: none

build(deps): bump dependencies and go toolchain to fix govulncheck
  go.mod
  go.sum
Due: go-mod-tidy

build(deps): bump dependencies and go toolchain to fix govulncheck (#179)
  go.mod
  go.sum
Due: go-mod-tidy

fix: resolve orchestrator deadlock preventing clean exit after parallel tasks complete (#177)
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

chore: improve test and fix: When all hosts are unavailable with multiple tasks, only 1 result was being produced instead of N
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: resolve orchestrator deadlock on parallel task completion (#178)
  internal/parallel/orchestrator.go
  internal/parallel/orchestrator_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.19.1
  CHANGELOG.md
Due: none

docs: update changelog for v0.19.1 (#180)
  CHANGELOG.md
Due: none

fix: acquire lock in rr sync to prevent file overwrites during execution (#181)
  internal/cli/sync.go
  internal/cli/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: acquire lock in rr sync to prevent file overwrites during execution (#181) (#182)
  internal/cli/sync.go
  internal/cli/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: update changelog for v0.19.2
  CHANGELOG.md
Due: none

docs: update changelog for v0.19.2 (#183)
  CHANGELOG.md
Due: none

perf: improve sync performance in large codebases
  docs/configuration.md
  internal/config/types.go
  internal/gitdiff/gitdiff.go
  internal/gitdiff/gitdiff_test.go
  internal/sync/state.go
  internal/sync/state_test.go
  internal/sync/sync.go
  internal/sync/sync_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(config): add ${BRANCH} variable expansion for per-branch remote directories
  docs/configuration.md
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(cli): add rr clean command for stale per-branch directory cleanup
  internal/clean/clean.go
  internal/clean/clean_test.go
  internal/cli/clean.go
  internal/cli/commands.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/validate.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address second round of CodeRabbit review feedback
  internal/clean/clean.go
  internal/clean/clean_test.go
  internal/cli/clean.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/loader.go
  internal/host/selector.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: replace denylist with allowlist safety model for clean removals
  internal/clean/clean.go
  internal/clean/clean_test.go
  internal/cli/clean.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: resolve real-world issues found during smoke testing
  .rr.yaml
  internal/clean/clean.go
  internal/clean/clean_test.go
  internal/config/expand.go
  internal/config/expand_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, check-yaml

fix: resolve clean command bugs and address review feedback
  internal/clean/clean.go
  internal/clean/clean_test.go
  internal/cli/clean.go
  internal/cli/status.go
  internal/config/config_test.go
  internal/config/expand.go
  internal/config/expand_test.go
  internal/config/loader.go
  internal/config/types.go
  internal/config/validate.go
  internal/doctor/hosts.go
  internal/host/selector.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address third round of CodeRabbit review feedback
  internal/cli/clean.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: detect branch name collisions during sanitization
  internal/config/expand.go
  internal/config/expand_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

docs: add rr clean command and ${BRANCH} variable to documentation
  docs/configuration.md
  plugins/rr/skills/rr/SKILL.md
  plugins/rr/skills/rr/reference/commands.md
  plugins/rr/skills/rr/reference/config.md
Due: none

fix: replace collision-prone branch sanitizer with escape-based encoding
  internal/config/expand.go
  internal/config/expand_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: fix skill frontmatter validation for rr
  plugins/rr/skills/rr/SKILL.md
Due: none

feat: add SSH ProxyCommand support and rsync config passthrough
  internal/host/probe_test.go
  internal/host/selector_test.go
  internal/sync/pull.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  pkg/sshutil/client.go
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: address code review feedback for ProxyCommand support
  pkg/sshutil/client.go
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: close pipes on early-exit error path in dialViaProxy
  pkg/sshutil/proxy.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add SSH ProxyCommand support and rsync config passthrough (#200)
  internal/host/probe_test.go
  internal/host/selector_test.go
  internal/sync/pull.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  pkg/sshutil/client.go
  pkg/sshutil/proxy.go
  pkg/sshutil/proxy_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

build(deps): bump go toolchain to 1.25.8 to fix govulncheck
  go.mod
Due: go-mod-tidy
